<!DOCTYPE html>
<html>
	<head>
		<style>
			dt {
			float: left;
			clear: left;
			margin: 0;
			padding: 0 .5em 0 0;
			font-weight: bold;
			}
			dt:after {
			content: ":";
			}
			dd {
			margin: 0;
			padding: 0;
			}
		</style>
	</head>
	<body>
		<h1>Search Results</h1>
		{{range .}}
		<dl>
			<dt>Id</dt>
			<dd>{{.Id}}</dd>
			<dt>FoodGroupId</dt>
			<dd>{{.FoodGroupId}}</dd>
			<dt>LongDesc</dt>
			<dd>{{.LongDesc}}</dd>
			<dt>ShortDesc</dt>
			<dd>{{.ShortDesc}}</dd>
			<dt>CommonNames</dt>
			<dd>{{.CommonNames}}</dd>
			<dt>Manufacturer</dt>
			<dd>{{.Manufacturer}}</dd>
			<dt>Survey</dt>
			<dd>{{.Survey}}</dd>
			<dt>RefuseDesc</dt>
			<dd>{{.RefuseDesc}}</dd>
			<dt>Refuse</dt>
			<dd>{{.Refuse}}</dd>
			<dt>ScientificName</dt>
			<dd>{{.ScientificName}}</dd>
			<dt>NitrogenFactor</dt>
			<dd>{{.NitrogenFactor}}</dd>
			<dt>ProteinFactor</dt>
			<dd>{{.ProteinFactor}}</dd>
			<dt>FatFactor</dt>
			<dd>{{.FatFactor}}</dd>
			<dt>CarbohydrateFactor</dt>
			<dd>{{.CarbohydrateFactor}}</dd>
		</dl>
		{{end}}
	</body>
</html>
